<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-br"/>
			<aspNetCore processPath="dotnet" arguments=".\Web_Estoque_E_Faturamento.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
			<authentication mode="Windows" />

			<authorization>
				<deny users="?"/>
			</authorization>
		</system.webServer>
	</location>
</configuration>