@using Microsoft.AspNetCore.Identity
@using ZyronChatWebApp.Models

@model ZyronChatWebApp.Models.UserScheduleListOfContacts



@{
    ViewData["Title"] = "Your list of contacts";
    ViewBag.ContactsInfoList = Model.ContactsInformations.ToArray();
}

@if(ViewBag.ContactAddedWithSucess==true){

    <div class="alert alert-dark" role="alert">
      Novo contato adicionado com sucesso.
    </div>
}
@if (ViewBag.ContactAlreadyExists==true)
{
     <div class="alert alert-dark" role="alert">
          Não foi possível adicionar esse contato porque ele já está cadastrado.
     </div>
}
@if(ViewBag.ContactsInfoList.Length!=0)
{
    <h3 >Seus contatos</h3>
    <div class="list-group">

    @foreach (var contactinfo in ViewBag.ContactsInfoList)
    {
            
            
                <button type="button" class="list-group-item list-group-item-action list-group-item-dark">
                    <a href="@Url.ActionLink("ChatMenu","ChatMessages", new{IdUserToTalk=contactinfo.UsernameOfIdentification})">@contactinfo.Surname</a>
                </button>
    }

    </div>
}else{
<figure class="text-center">
      <blockquote class="blockquote">
        <h4>Você ainda não tem nenhum contato cadastrado</h4>
      </blockquote>
      <figcaption class="blockquote-footer">
        A solidão é um caminho válido, porém árduo.
      </figcaption>
 </figure>
}


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
