<form asp-action="LoginUser" asp-controller="User" method="post">
    <input name="Username" placeholder="Digite seu nome de usuário aqui"/>
    <input type="password" name="Password" placeholder="Digite sua senha"/>
    <input type="submit" value="Logar" class="btn btn-primary"/>
</form>