@model List<string>




<form asp-action="LoginUser" asp-controller="User" method="post">
    <input name="Username" placeholder="Digite seu nome de usuário aqui"/>
    <input type="password" name="Password" placeholder="Digite sua senha"/>
    <input type="submit" value="Logar" class="btn btn-primary"/>
</form>
@if (Model != null)
{
        <div class="alert alert-danger" role="alert">
              Não foi possível criar sua conta devido aos seguintes problemas
        </div>
    @foreach (var error in @Model)
    {
                <li>@error</li>
    }
}