
<ul class="navbar-nav">

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
               <a class="btn btn-danger" href="@Url.ActionLink("LogoutUser","User")" role="button">Logout </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="@Url.ActionLink("Index","User")">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="@Url.ActionLink("LoginUser","User")">Login</a>
    </li>
}
</ul>
