@using Microsoft.AspNetCore.Identity
@using ZyronChatWebApp.Models

@model ZyronChatWebApp.Models.Messages



@{
    ViewData["Title"] = "Your list of contacts";
    ViewBag.ChatMessage = Model;
}


@if (ViewBag.ChatMessage.Length != 0)
{
    <h3 >Seus contatos</h3>
    <div class="list-group">

    @foreach (var Message in ViewBag.MessagesOfUser)
    {
            <h3>@Message.Message </h3>
                
    }

    </div>
}else{
<figure class="text-center">
      <blockquote class="blockquote">
        <h4>Você ainda não trocou nenhuma mensagem com esse contato</h4>
      </blockquote>
      <figcaption class="blockquote-footer">
       
      </figcaption>
 </figure>
}


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chatprivate.js"></script>
